<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="filtros-container">
  <input
    type="text"
    placeholder="Filtrar por placa"
    (input)="onPlacaChange($event)"
  />

  <select (change)="onTipoChange($event)">
    <option value="">Todos os tipos</option>
    <option value="Mensalista">Mensalista</option>
    <option value="Diarista">Diarista</option>
  </select>

  <select (change)="onPagamentoChange($event)">
    <option value="">Todos os pagamentos</option>
    <option value="Dinheiro">Dinheiro</option>
    <option value="Pix">Pix</option>
    <option value="Cartão">Cartão</option>
  </select>

  <input
    type="date"
    (change)="onDataInicioChange($event)"
    title="Data de início"
  />

  <input
    type="date"
    (change)="onDataFimChange($event)"
    title="Data de fim"
  />

  
  <div class="actions-right flex gap-2 mt-2">
    <button pButton label="Filtrar" icon="pi pi-filter" class="p-button-info" (click)="filtrarRelatorios()"></button>
    <button pButton label="Limpar" icon="pi pi-times" class="p-button-secondary" (click)="limparFiltros()"></button>
    <button pButton label="Exportar PDF" icon="pi pi-file-pdf" class="p-button-danger"></button>
    <button pButton label="Exportar Excel" icon="pi pi-file-excel" class="p-button-success"></button>
    <button pButton label="Imprimir" icon="pi pi-print" class="p-button-secondary"></button>
  </div>
</div>

<div class="card relatorio-card">
  <p-table [value]="relatoriosFiltrados" [tableStyle]="{ 'min-width': '60rem' }" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10"class="p-datatable-dark futuristic-table">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Placa</th>
        <th>Tipo</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Valor</th>
        <th>Forma Pagamento</th>
        <th>Status</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-relatorio>
      <tr>
        <td>{{ relatorio.id }}</td>
        <td>{{ relatorio.placa }}</td>
        <td>
          <p-tag
            [value]="relatorio.tipo"
            [severity]="relatorio.tipo === 'Mensalista' ? 'success' : 'info'"
          ></p-tag>
        </td>
        <td>{{ relatorio.dataHoraEntrada | date:'dd/MM/yyyy, HH:mm:ss':'America/Sao_Paulo' }}</td>
        <td>{{ relatorio.dataHoraSaida | date:'dd/MM/yyyy, HH:mm:ss':'America/Sao_Paulo' }}</td>
        <td>{{ relatorio.valorPago | currency:'BRL' }}</td>
        <td>{{ relatorio.formaPagamento }}</td>
        <td>
          <p-tag
            [value]="relatorio.statusPagamento"
            [severity]="relatorio.statusPagamento === 'Pago' ? 'success' : 'warning'"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

