<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <div class="flex justify-content-end mb-2 p-2 gap-2">
     <!-- <button pButton label="Adicionar Dados Fictícios" icon="pi pi-database" class="p-button-warning" (click)="adicionarDadosFicticios()"></button> -->
    <button pButton label="Exportar PDF" icon="pi pi-file-pdf" class="p-button-danger" (click)="exportarPDF()"></button>
    <button pButton label="Exportar Excel" icon="pi pi-file-excel" class="p-button-success" (click)="exportarExcel()"></button>
    <button pButton label="Imprimir" icon="pi pi-print" class="p-button-secondary" (click)="imprimir()"></button>
  </div>

  <div class="filtros-container flex gap-2 mb-3 items-center">
    <input
      pInputText
      placeholder="Placa"
      [(ngModel)]="filtroPlaca"
      class="input-dark"
    />

    <p-dropdown
      [(ngModel)]="filtroTipo"
      [options]="tiposFiltro"
      optionLabel="label"
      optionValue="value"
      placeholder="Tipo"
      class="input-dark"
    ></p-dropdown>

    <p-dropdown
      [(ngModel)]="filtroPagamento"
      [options]="formasPagamentoFiltro"
      optionLabel="label"
      optionValue="value"
      placeholder="Pagamento"
      class="input-dark"
    ></p-dropdown>

    <button
      pButton
      type="button"
      label="Buscar"
      icon="pi pi-search"
      (click)="filtrarRelatorios()"
      class="p-button-primary"
    ></button>

    <button
      pButton
      type="button"
      label="Limpar Filtros"
      icon="pi pi-times"
      (click)="limparFiltros()"
      class="p-button-secondary"
    ></button>
  </div>

  <!-- 📊 Tabela -->
  <p-table
    [value]="relatoriosFiltrados"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Placa</th>
        <th>Tipo</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Valor</th>
        <th>Forma Pagamento</th>
        <th>Status</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-relatorio>
      <tr>
        <td>{{ relatorio.id }}</td>
        <td>{{ relatorio.placa }}</td>
        <td>
          <p-tag
            [severity]="relatorio.tipo === 'Mensalista' ? 'info' : 'secondary'"
            [value]="relatorio.tipo"
          ></p-tag>
        </td>
        <td>{{ relatorio.dataHoraEntrada | date: 'short' }}</td>
        <td>{{ relatorio.dataHoraSaida | date: 'short' }}</td>
        <td>{{ relatorio.valorPago | currency: 'BRL' }}</td>
        <td>{{ relatorio.formaPagamento }}</td>
        <td>
          <p-tag
            [severity]="relatorio.statusPagamento === 'Pago' ? 'success' : 'warning'"
            [value]="relatorio.statusPagamento"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
