<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <div class="flex justify-content-end mb-2">
    <button pButton label="Nova entrada" icon="pi pi-plus" (click)="abrirModalCadastrar()" class="p-button-info"></button>
  </div>

  <div class="flex gap-2 mb-2">
    <input pInputText placeholder="Filtrar placa" (input)="filtrarPlaca($event)" class="input-dark" />
  </div>

  <p-table #table [value]="vagas" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10" [loading]="carregandoVagas">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Placa</th>
        <th>Tipo</th>
        <th>Data/Hora entrada</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vaga>
      <tr>
    <td>{{ vaga.numero_interno }}</td>

        <td>{{ vaga.placa }}</td>
        <td>
          <p-tag [severity]="vaga.tipo === 'Mensalista' ? 'success' : 'info'" [value]="vaga.tipo"></p-tag>
        </td>
        <td>{{ formatarData(vaga.dataHora) }}</td>
        <td>
          <button pButton icon="pi pi-sign-out" label="Registrar Saída" class="p-button-danger" (click)="confirmaSaida($event, vaga.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Nova Entrada"
  [(visible)]="dialogVisivelCadastrar"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  styleClass="custom-black-dialog"
  [style]="{ width: '30vw' }"
>
  <div class="form-container">
    <label>Placa:</label>
    <input
      pInputText
      class="input-dark"
      [(ngModel)]="vagaCadastro.placa"
      maxlength="7"
      (input)="atualizarPlaca($event)"
      placeholder="ABC1234"
    />

    <div class="footer-buttons">
      <button
        pButton
        label="Cancelar"
        class="p-button-outlined p-button-secondary"
        (click)="dialogVisivelCadastrar = false"
      ></button>
      <button
        pButton
        label="Salvar"
        class="p-button-success"
        (click)="salvar()"
      ></button>
    </div>
  </div>
</p-dialog>



<p-dialog header="Resumo da Saída" [(visible)]="dialogResumoSaidaVisivel" [modal]="true" [closable]="true" styleClass="custom-dark-dialog" [style]="{ width: '30vw' }">
  <div class="form-container" *ngIf="vagaSelecionada">
    <p><strong>Placa:</strong> {{ vagaSelecionada.placa }}</p>
    <p><strong>Tipo:</strong> {{ vagaSelecionada.tipo }}</p>
    <p><strong>Entrada:</strong> {{ formatarData(vagaSelecionada.dataHora ?? null) }}</p>
    <p><strong>Saída:</strong> {{ formatarData(dataHoraSaida) }}</p>
    <p><strong>Duração:</strong> {{ duracao }}</p>
    <p><strong>Valor a Pagar:</strong> R$ {{ valorTotal | number:'1.2-2' }}</p>
    <label>Forma de Pagamento:</label>
    <select class="input-dark" [(ngModel)]="formaPagamento">
      <option value="dinheiro">Dinheiro</option>
      <option value="pix">PIX</option>
      <option value="cartao">Cartão</option>
    </select>
  </div>
  <div class="footer-buttons" *ngIf="vagaSelecionada">
    <button pButton label="Cancelar" class="p-button-outlined p-button-secondary" (click)="dialogResumoSaidaVisivel = false"></button>
    <button pButton label="Finalizar Saída" (click)="finalizarSaida()"></button>
  </div>
</p-dialog>
