@import "primeicons/primeicons.css";

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  font-family: 'Segoe UI', sans-serif;
  color: #e0e0e0;
  line-height: 1.6;
}
/* Botão voltar fixo no canto superior esquerdo */
.back-button {
  position: fixed; /* fixo na tela */
  top: 20px;
  left: 20px;
  background: transparent !important;
  color: #4a90e2 !important;
  border: 1px solid #4a90e2 !important;
  border-radius: 8px !important;
  transition: all 0.3s ease;
  z-index: 1000; /* garante que fique acima de outros elementos */
  padding: 0.5rem 1rem;
}

.back-button:hover {
  background-color: #4a90e2 !important;
  color: #fff !important;
  box-shadow: 0 0 8px #4a90e2;
}


/* Botão voltar */
.page-bg {
  margin: 20px 50px;
}



/* Badge */


/* Artigo */
.blog-article {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.blog-article header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.blog-meta {
  font-size: 0.9rem;
  color: #b0b0b0;
  margin-bottom: 1.5rem;
}
.blog-meta i{
  color: #4a90e2;
  font-size: 20px;
}
.blog-image {
  width: 100%;
  border-radius: 8px;
  margin: 1.5rem 0;
}

/* Conteúdo */
.conteudo-educativo h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #ffffff;
}
.conteudo-educativo h3 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  color: #e0e0e0;
}
.conteudo-educativo p,
.conteudo-educativo li {
  color: #cccccc;
  margin-top: 0.8rem;
}
.conteudo-educativo ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
}


.home-footer {
  background: radial-gradient(circle at top, #2c2f30f8 0%, #171718a6 100%);
  color: white;
  padding: 4rem 2rem 2rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.footer-logo {
  flex: 1;
  min-width: 250px;
}

.footer-logo h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-column {
  min-width: 150px;
}

.footer-column h4 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.8rem;
}

.footer-column a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #fff;
}

.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}
