<p-toast></p-toast>

<div class="login-page">
  <!-- Botão Voltar -->
  <button pButton icon="pi pi-arrow-left" label="Voltar ao Início" class="back-button" (click)="voltarHome()"></button>

  <div class="login-box">
    <h2>Bem-vindo</h2>
    <p>Acesse sua conta para continuar</p>

    <div class="field">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        placeholder="Digite seu email"
        class="p-inputtext p-component"
      />
    </div>

    <div class="field">
      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="senha"
        placeholder="Digite sua senha"
        class="p-inputtext p-component"
      />
    </div>

    <div class="login-options">
      <label><input type="checkbox" /> Lembrar-me</label>
      <button
        pButton
        label="Esqueceu a senha?"
        icon="pi pi-key"
        (click)="esqueciSenha()"
        class="p-button-text p-button-sm text-blue"
      ></button>
    </div>

    <button
      pButton
      type="button"
      (click)="login()"
      label="Entrar"
      icon="pi pi-sign-in"
      class="p-button-rounded p-button-lg p-button-primary w-full mt-2"
    ></button>
  </div>
</div>

<!-- Modal Esqueci a Senha -->
<p-dialog
  header="Redefinição de senha"
  [(visible)]="dialogModalEsqueceuSenha"
  modal
  [style]="{ width: '400px' }"
>
  <p>Informe seu email e enviaremos o link de recuperação.</p>

  <div class="field" style="margin-top: 1rem;">
    <label for="recuperacaoEmail">Email</label>
    <input
      id="recuperacaoEmail"
      type="email"
      [(ngModel)]="emailRecuperacao"
      placeholder="Digite seu email"
      class="p-inputtext p-component"
      style="width: 100%; padding: 0.5rem"
    />
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      label="Cancelar"
      icon="pi pi-times"
      (click)="dialogModalEsqueceuSenha = false"
      class="p-button-text"
    ></button>
    <button
      pButton
      label="Enviar link de recuperação"
      icon="pi pi-check"
      [loading]="carregandoRecuperacao"
      (click)="enviarEmailRecuperacao()"
    ></button>
  </ng-template>
</p-dialog>
